<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:beans="http://www.springframework.org/schema/beans"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/security
        http://www.springframework.org/schema/security/spring-security-4.0.xsd">

    <!-- static resources -->
    <http pattern="/resources/**" security="none" />

    <http use-expressions="true">
        <csrf disabled="true"/>
        <intercept-url pattern="/loginPage" access="isAnonymous()" />
        <!-- pass loged-in users to index -->
        <intercept-url pattern="/index" access="isAuthenticated()" />
        <intercept-url pattern="/index.html" access="isAuthenticated()" />
        <intercept-url pattern="/index.jsp" access="isAuthenticated()" />
        <intercept-url pattern="/" access="isAuthenticated()" />
        
        <intercept-url pattern="/codeType/**" access="isAuthenticated()" />
        
        <intercept-url pattern="/headcount/apply" access="hasAnyRole('ROLE_HR', 'ROLE_APPLIER')" />
        <intercept-url pattern="/headcount/submit" access="hasAnyRole('ROLE_HR', 'ROLE_APPLIER')" />
        <intercept-url pattern="/headcount/view" access="hasAnyRole('ROLE_HR', 'ROLE_APPLIER', 'ROLE_CONFIRMER')" />
        <intercept-url pattern="/headcount/find*" access="hasAnyRole('ROLE_HR', 'ROLE_APPLIER', 'ROLE_CONFIRMER')" />
        <intercept-url pattern="/headcount/confirm" access="hasRole('ROLE_CONFIRMER')" />
        <intercept-url pattern="/headcount/reply" access="hasRole('ROLE_APPLIER')" />
        <intercept-url pattern="/headcount/dispose" access="hasRole('ROLE_APPLIER')" />
        <intercept-url pattern="/headcount/process" access="hasRole('ROLE_HR')" />
        <intercept-url pattern="/headcount/close" access="hasRole('ROLE_HR')" />
        <intercept-url pattern="/**" access="hasRole('ROLE_ADMIN')" />
        
        <form-login login-page="/loginPage" login-processing-url="/login" 
            authentication-failure-url="/loginPage?login_error=1" 
            username-parameter="username" password-parameter="password" />
            
        <logout logout-success-url="/loginPage" />

        <!-- 存取限制 -->
        <access-denied-handler ref="accessDeniedHandler" />
    </http>
    
    <authentication-manager>
        <authentication-provider ref="ldapAuthProvider" />
    </authentication-manager>
    
    <ldap-server id="ldapServer" ldif="classpath:ldif/test-server.ldif" port="10389" />
    
    <beans:bean id="ldapAuthProvider" class="org.springframework.security.ldap.authentication.LdapAuthenticationProvider">
        <beans:constructor-arg name="authenticator">
            <beans:bean class="org.springframework.security.ldap.authentication.BindAuthenticator">
                <beans:constructor-arg name="contextSource" ref="ldapServer" />
                <beans:property name="userDnPatterns">
                    <beans:list>
                        <beans:value>cn={0},ou=people</beans:value>
                    </beans:list>
                </beans:property>
            </beans:bean>
        </beans:constructor-arg>
        <beans:constructor-arg name="authoritiesPopulator">
            <beans:bean class="com.bxf.hradmin.security.LdapAuthoritiesPopulator" />
        </beans:constructor-arg>
    </beans:bean>
    
    <!-- 存取限制 Handler -->
    <beans:bean id="accessDeniedHandler" class="com.bxf.hradmin.security.AccessDeniedHandler">
        <!-- 預設重導頁面 -->
        <beans:property name="defaultRedirectUrl" value="/" />
        <!-- 幾秒後重導 -->
        <beans:property name="timeToRedirect" value="5" />
    </beans:bean>
</beans:beans>
